<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/header.ejs") %>

    <main>
      <div class="main-content"> 
        <h2>View Courses</h2>
        
        <div class="course-list">
          <% if (courses.length > 0) { %>
            <% courses.forEach(course => { %>
              <div class="course">
                <div class="course-content">
                  <a class="single" href="/courses/<%= course._id%>">
                    <div class="title-row">
                      <p><%= course.courseID %>:</p>
                      <p><%= course.courseTitle %></p>
                    </div>
                    <div class="detail-row">
                      <p>Subject: <%= course.subject %> | </p>
                      <p>Credits: <%= course.credits %></p>
                    </div>
                  </a>
                </div>
                <% if (user) { %>
                <div class="button-row">
                  <!-- TODO: Button for editing courses -->
                  <button class="edit-button button">
                    <a href="/courses/update/<%= course._id%>">Edit Course</a>
                  </button>
                </div>
                <% } %>
              </div>
            <% }) %>
          <% } else { %>
            <p>There are no courses at this time...</p>
          <% } %>
        </div>
      </div>
    </main>
  
  
    <%- include("./partials/footer.ejs") %>
  
  </body>
</html>