<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/header.ejs") %>

    <main>
      <div class="main-content"> 
        <h2>View Courses</h2>
        
        <div class="course-list">
          <% if (courses.length > 0) { %>
            <% courses.forEach(course => { %>
              <div class="course">
                <a class="single" href="/courses/<%= course._id%>">
                  <p id="c-id"><%= course.courseID %></p>
                  <p id="c-title"><%= course.courseTitle %></p>
                  <p id="c-subject"><%= course.subject %></p>
                  <p id="c-credits">Credits: <%= course.credits %></p>
                  <!-- TODO: Buttons for signing up or editing courses -->
                </a>
                <a class="single" href="/courses/update/<%= course._id%>">
                  <p>Edit this Course</p>
                </a>
              </div>
            <% }) %>
          <% } else { %>
            <p>There are no courses at this time...</p>
          <% } %>
        </div>
      </div>
    </main>
  
  
    <%- include("./partials/footer.ejs") %>
  
  </body>
</html>