<html lang="en">
  <%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/header.ejs") %>

  <main>
    <div class="main-content">
      <div class="course-des">
        <div class="c-title">
          <p id="c-id"><%= course.courseID %></p>
          <p id="c-title">|<%= course.courseTitle %></p>
        </div>
        <div class="course-sa">
          <p id="c-subject">Subject Area: <%= course.subject %></p>
          <p id="c-credits">|Number of Credits: <%= course.credits %></p>
        </div>
        <p id="c-description">Description of course:</p>
        <p> <%= course.description %></p>
      <% if (user && user.teacher === false) { %>
        <!-- Add another if statement to check if the user has this class in their schedule -->
        <a class="add-course button" data-doc="<%= course._id %>" data-student="<%= user %>">
          <% if (user.courses.includes('{ _id: new ObjectId("' + course._id + '") }')) { %>
            <button class="button">Drop course</button>
          <% } else { %>
            <button class="button">Add course</button>
          <% } %>
        </a>

      <% } %>
      </div>
    </div>
  </main>
  <%- include("./partials/footer.ejs") %>
  <script>
    const adder = document.querySelector('a.add-course');
    // We need to include 2 things in the request: Student user & course ID

    adder.addEventListener('click', (e) => {
      const endpoint = `/courses/${adder.dataset.doc}`;

      // Add the course to the token

      fetch(endpoint, {
        method: 'PUT',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
  </script>
</body>
</html>